@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFFBF3;
    margin: 0%;

    // overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
    transition-duration: .3s;
}

a:hover {
    text-decoration-color: black;
}