.caja {
  max-width: 100%;
  padding: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}
.caja form {
  width: 50%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: rgba(149, 149, 149, 0.31);
  padding: 30px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .caja form {
    width: 100%;
  }
}
.caja form .divs {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.caja form h1 {
  margin: 0;
  width: fit-content;
}
.caja form #destinatario,
.caja form #asunto,
.caja form #mensaje {
  width: 70%;
  padding: 10px;
  border: 1px solid black;
}
.caja form #destinatario:focus-visible,
.caja form #asunto:focus-visible,
.caja form #mensaje:focus-visible {
  outline: 0;
}
.caja form #destinatario {
  background-color: #80808012;
}
.caja #listarbuscador {
  width: 68%;
  position: absolute;
  top: 165px;
  background-color: #d3e5ff;
  border: 1px solid black;
  flex-direction: column;
}
.caja #listarbuscador p {
  margin: 0;
  padding: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}
.caja #listarbuscador p:hover {
  opacity: 0.4;
}
