.product-showcase-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-showcase {
    width: 100%;

    min-height: 80vh;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
}

.showcase-message {
    margin-left: 60px;
    padding-left: 36px;
    height: 37px;
    display: flex;
    align-items: center;
    border-left: solid 2px #9f9f9f;

    .message {
        font-size: 20px;
    }
}

.product-card {
    width: 360px;
    aspect-ratio: 15/16;

    .product-image {
        width: 100%;
    }

    .product-name {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-top: 0px;
        margin-left: 70px;
    }

    .product-price {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-top: 0px;
        margin-left: 70px;
    }

    border: solid 1px transparent;

    transition-duration: .2s;
}

.product-card:hover {
    cursor: pointer;
    border-color: black;
}